/* Corps de la page */
body {
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, #d4d4d4, #e6bbb3);
    background-size: cover;
    background-attachment: fixed;
}


/* Mode sombre pour la page */
html.dark-mode body {
    background-image: linear-gradient(45deg, #0a0a0a, #2c3e50);
    color: #fff;
}

/* Paramètre box */
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    /* Texte sombre pour contraster */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    /* Fond très léger et transparent */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Bordure subtile */
    border-radius: 90px;
    backdrop-filter: blur(5px);
    /* Effet de flou pour un look moderne */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 400px;
}

html.dark-mode h1 {
    color: #fff;
    /* Texte clair pour contraster */
    background-color: rgba(0, 0, 0, 0.2);
    /* Fond très sombre et transparent */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Bordure subtile */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1:hover {
    transform: scale(1.05);
    /* Légère augmentation de taille */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Effet hover pour le mode sombre */
html.dark-mode h1:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2);
}




/* Container principal */
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 20px;
}

.container input[type="number"],
.container input[type="time"] {
    width: 500px;
    /* Ajuste la taille */
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

#monthlySalary {
    width: 80px;
    -moz-appearance: textfield;
}
#monthlySalary::-webkit-outer-spin-button,
#monthlySalary::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Mode sombre */
html.dark-mode .container input {
    background-color: #2a2a2a;
    border-color: #404040;
    color: #fff;
    border-radius: 10px !important;
}

/* Pour les champs dans le mode sombre */
html.dark-mode input {
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
    border-radius: 10px !important;
    /* Assure l'arrondi */
}

/* Focus */
html input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #ede7e7;
    color: #fff;
}

/* Regroupe les inputs d'heures */
.time-group {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

/* Conteneur de chaque input */
.time-group .input-group {
    flex: 1;
    min-width: 100px;
    max-width: 120px;
    text-align: left;
}

/* Réduction de la largeur des inputs */
.time-group input[type="time"] {
    width: 50%;
    padding: 8px;
    text-align: center;
    border-radius: 10px !important;
    /* Correction ici */
    margin-right: 5px;
    box-sizing: border-box;
    /* Empêche les erreurs de largeur */
}

/* Bouton sauvegarder */
.bookmarkBtn {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1000;
}

/* Conteneur de l'icône */
.IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #f7b5b5, #c8a7a7);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
}

/* Icône */
.icon {
    border-radius: 1px;
}

/* Texte */
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 1;
    font-size: 1.04em;
    text-align: center;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

/* Animation hover sur le conteneur de l'icône */
.bookmarkBtn:hover .IconContainer {
    width: 90px;
    transition-duration: 0.3s;
}

/* Animation hover sur le texte */
.bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
}

/* Animation au clic */
.bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
}


/* Mode sombre pour le bouton */
html.dark-mode .bookmarkBtn {
    background-color: rgb(12, 12, 12);
    /* Fond sombre */
    border: 1px solid rgba(255, 255, 255, 0.349);
    /* Bordure claire */
}

/* Mode sombre pour le conteneur de l'icône */
html.dark-mode .IconContainer {
    background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
    /* Dégradé coloré */
}

/* Mode sombre pour le texte */
html.dark-mode .text {
    color: white;
    /* Texte blanc */
}


/* form days */
.my-form {
    --_clr-primary: #666;
    --_clr-hover: #f33195;
    --_clr-checked: #127acf;
}

.my-form>div {
    --_clr-current: var(--_clr-primary);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.my-form>div+div {
    margin-block-start: 0.5rem;
}

.my-form label {
    cursor: pointer;
    color: var(--_clr-current);
    transition: color 150ms ease-in-out;
}

/* styled checkbox */
.my-form input[type="checkbox"] {
    appearance: none;
    outline: none;
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1;
    padding: 0.25rem;
    background: transparent;
    border: 1px solid var(--_clr-current);
    border-radius: 2px;
    display: grid;
    place-content: center;
    cursor: pointer;
    border-radius: 50%;


}

.my-form input[type="checkbox"]::after {
    content: "\2714";
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    color: var(--_clr-checked);
    font-size: inherit;
    font-family: inherit;
}

.my-form label:hover,
.my-form input[type="checkbox"]:focus-visible,
.my-form input[type="checkbox"]:focus-visible+label,
.my-form input[type="checkbox"]:hover,
.my-form input[type="checkbox"]:hover+label {
    --_clr-current: var(--_clr-hover);
}

.my-form input[type="checkbox"]:focus-visible::after,
.my-form input[type="checkbox"]:hover::after {
    opacity: 0.5;
    color: var(--_clr-hover);
}

.my-form input[type="checkbox"]:checked+label:not(:hover),
.my-form input[type="checkbox"]:checked:not(:hover) {
    --_clr-current: var(--_clr-checked);
}

.my-form input[type="checkbox"]:checked::after {
    opacity: 1;
}




/* Mode sombre pour le formulaire */
html.dark-mode .my-form {
    --_clr-primary: #a0a0a0;
    /* Couleur principale en mode sombre */
    --_clr-hover: #ff6ec7;
    /* Couleur au survol en mode sombre */
    --_clr-checked: #6eb5ff;
    /* Couleur cochée en mode sombre */
}

html.dark-mode .my-form label {
    color: var(--_clr-primary);
    /* Texte en mode sombre */
}

html.dark-mode .my-form input[type="checkbox"] {
    border-color: var(--_clr-primary);
    /* Bordure en mode sombre */
}

html.dark-mode .my-form input[type="checkbox"]::after {
    color: var(--_clr-checked);
    /* Icône cochée en mode sombre */
}

html.dark-mode .my-form label:hover,
html.dark-mode .my-form input[type="checkbox"]:focus-visible,
html.dark-mode .my-form input[type="checkbox"]:focus-visible+label,
html.dark-mode .my-form input[type="checkbox"]:hover,
html.dark-mode .my-form input[type="checkbox"]:hover+label {
    --_clr-current: var(--_clr-hover);
    /* Couleur au survol en mode sombre */
}

html.dark-mode .my-form input[type="checkbox"]:focus-visible::after,
html.dark-mode .my-form input[type="checkbox"]:hover::after {
    opacity: 0.5;
    color: var(--_clr-hover);
    /* Icône au survol en mode sombre */
}

html.dark-mode .my-form input[type="checkbox"]:checked+label:not(:hover),
html.dark-mode .my-form input[type="checkbox"]:checked:not(:hover) {
    --_clr-current: var(--_clr-checked);
    /* Couleur cochée en mode sombre */
}





/* Bouton retour (en haut à gauche) */
.returnBtn {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(45deg, #f8c8d7, #f5b8b1);
    /* Dégradé clair */
    color: #000;
    /* Texte sombre pour le jour */
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Ombre pour améliorer la visibilité */
}

/* Mode sombre pour le bouton retour */
html.dark-mode .returnBtn {
    background: linear-gradient(45deg, #333, #555);
    /* Fond sombre */
    color: #fff;
    /* Texte blanc */
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Ombre plus marquée pour le mode sombre */
}

/* Survol du bouton retour */
.returnBtn:hover {
    background: linear-gradient(45deg, #f5b8b1, #f8c8d7);
    /* Dégradé plus clair au survol */
}

/* Survol du bouton retour en mode sombre */
html.dark-mode .returnBtn:hover {
    background: linear-gradient(45deg, #555, #333);
    /* Dégradé plus sombre au survol en mode sombre */
}