/* Style de la barre de défilement */
#scrolling-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1000;
}

/* Style du conteneur des messages */
#message-container {
    display: inline-block;
    white-space: nowrap;
    animation: scrollMessage linear infinite;
    /* Retirer la durée fixe, elle sera calculée dynamiquement */
}

/* Animation pour faire défiler les messages de droite à gauche */
@keyframes scrollMessage {
    0% {
        transform: translateX(100%);
        /* Démarre à droite */
    }

    100% {
        transform: translateX(-100%);
        /* Termine à gauche */
    }
}

/* Style pour chaque message */
.message {
    padding: 0 50px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 1.2rem;
    /* Taille de texte plus grande pour que le message soit bien visible */
}