/* Bouton Paramètre */
.setting-btn {
    width: 45px;
    position: fixed;
    height: 45px;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: rgb(129, 110, 216);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
}

.bar {
    width: 50%;
    height: 2px;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
}

.bar::before {
    content: "";
    width: 2px;
    height: 2px;
    background-color: rgb(126, 117, 255);
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px white;
}

.bar1::before {
    transform: translateX(-4px);
}

.bar2::before {
    transform: translateX(4px);
}

.setting-btn:hover .bar1::before {
    transform: translateX(4px);
}

.setting-btn:hover .bar2::before {
    transform: translateX(-4px);
}

/* Style pour la notification */
#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border-radius: 15px;
    opacity: 0;
    /* Commence invisible */
    visibility: hidden;
    /* Caché au départ */
    z-index: 1000;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
    /* 1 seconde pour le fondu */
}

/* Animation pour afficher la notification */
#notification.show {
    opacity: 1;
    /* Rendre visible */
    visibility: visible;
    /* Rendre l'élément visible */
    transition: opacity 0.2s ease-in-out, visibility 0s;
    /* 1 seconde pour le fondu */
}

/* Animation pour faire disparaître la notification */
#notification.hide {
    opacity: 0;
    /* Rendre invisible */
    visibility: hidden;
    /* Rendre invisible */
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
    /* 1 seconde pour le fondu */
}